<div class="language-selectors">

    <div class="language-selectors-right">
        {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% for post in posts %}
            <a class="fa" href="{{ post.url }}" >{{ post.lang }}</a>
        {% endfor %}

        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %}
            <a class="fa" href="{{ page.url }}" >{{ page.lang }}</a>
        {% endfor %}
    </div>
    <div class="right">

    </div>
</div>
<div class="clearfix"></div>
