{% assign pages=site.pages | where:"lang", page.lang %}
{% for page in pages %}
    {% if page.title %}
        {% if page.tags contains "about" %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
    {% endif %}
{% endfor %}
{% for page in pages %}
    {% if page.title %}
        {% if page.tags contains "contact" %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
    {% endif %}
{% endfor %}